.editButton {
    display: none;
  }
  
  .editButtonContainer {
    position: relative;
    background-color: #f2f2f3;
    cursor: pointer;
  }
  
  .editButtonContainer:hover .editButton {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .default-address {
    color: red;
    background-color: red !important;
  }